#map {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px !important; 
    height: 400px;
}

.azurePopup {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 5px;
}

.gardenInfo {
    margin: 10px;
}